<!DOCTYPE html>

<form method="post" action="/checkout">
  <label for="item">Item Name: </label>
  <input type="text" id="item" name="item">
  <input id="submit" type="submit" value="sumbit">
</form>
