<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Sessions Lab</title>
  </head>
  <body>
    <form action="/checkout" method="post">
      <h1>Enter an Item for Purchase</h1>
      <input id="item" name="item" type="text" />
      <input id="submit" type="submit" />
    </form>
  </body>
</html>
